/* ====== CONTENEDOR PRINCIPAL ====== */
.contenedor-habitos {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* ====== FORMULARIO ====== */
.formulario-habito {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f5f6fa;
  padding: 20px;
  border: 2px solid #369ef3;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  gap: 10px;
}

.formulario-habito h2 {
  width: 100%;
  margin-bottom: 20px;
  color: #369ef3;
}

.formulario-habito input,
.formulario-habito select {
  flex: 1;
  min-width: 180px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #4e4d4d;
  background-color: white;
  font-size: 15px;
  color: black;
}

.formulario-habito button {
  padding-right: 10px;
  background-color: #2d79f3; 
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario-habito button:hover {
  background-color: #083b7d;
}

/* ====== BUSCADOR Y FILTROS ====== */
.buscador-filtros {
  background-color: #f5f6fa;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #369ef3;
}

.buscador-filtros h2 {
  width: 100%;
  margin-bottom: 10px;
  color: #369ef3;
}

.buscador-filtros input,
.buscador-filtros select {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: white;
  color: black;
}

/* ====== RESULTADOS EN CAJITAS ====== */
.cajitas-habitos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.caja-habito {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.caja-habito:hover {
  transform: scale(1.03);
}

.info-habito h4 {
  font-size: 18px;
  color: #3e2723;
  margin-bottom: 8px;
}

.info-habito p {
  font-size: 14px;
  color: #4e342e;
}


/* ====== BOTONES EDITAR Y ELIMINAR ====== */
.botones {
  display: flex;
  justify-content: center; /* centra los botones */
  gap: 10px; 
  margin-top: 10px;
}

.btn-editar {
  background-color: #2196f3; 
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.btn-editar:hover {
  background-color: #1976d2;
}

.btn-eliminar {
  background-color: #f44336; 
  color: white;
  font-weight: 500;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}

.btn-eliminar:hover {
  background-color: #d32f2f;
}

/* ====== SIN HABITOS ====== */
.sin-habitos {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #555;
}
