USE [master]
GO
/****** Object:  Database [HabitosDB]    Script Date: 27/10/2025 6:59:21 p. m. ******/
CREATE DATABASE [HabitosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HabitosDB', FILENAME = N'C:\Users\Anderson\OneDrive\Escritorio\JAIDER\MSSQL16.SQLEXPRESS\MSSQL\DATA\HabitosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HabitosDB_log', FILENAME = N'C:\Users\Anderson\OneDrive\Escritorio\JAIDER\MSSQL16.SQLEXPRESS\MSSQL\DATA\HabitosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HabitosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HabitosDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/10/2025 6:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 27/10/2025 6:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitos]    Script Date: 27/10/2025 6:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Frecuencia] [nvarchar](max) NOT NULL,
	[Cumplido] [bit] NOT NULL,
	[DiasConsecutivos] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[CategoriaId] [int] NULL,
 CONSTRAINT [PK_Habitos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recompensas]    Script Date: 27/10/2025 6:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recompensas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[ExperienciaRequerida] [int] NOT NULL,
 CONSTRAINT [PK_Recompensas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/10/2025 6:59:22 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Biografia] [nvarchar](max) NOT NULL,
	[ImagenPerfil] [nvarchar](max) NOT NULL,
	[Nivel] [int] NOT NULL,
	[Experiencia] [int] NOT NULL,
	[NombreUsuario] [nvarchar](max) NOT NULL,
	[Genero] [nvarchar](max) NOT NULL,
	[Objetivo] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251015225031_Inicial', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251026223742_AddNombreUsuarioToUsuario', N'9.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251026235936_AddCamposPerfilToUsuario', N'9.0.10')
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (1, N'Salud')
INSERT [dbo].[Categorias] ([Id], [Nombre]) VALUES (2, N'Finanzas')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Habitos] ON 

INSERT [dbo].[Habitos] ([Id], [Nombre], [Frecuencia], [Cumplido], [DiasConsecutivos], [UsuarioId], [CategoriaId]) VALUES (1, N'Leer 10 páginas', N'Diaria', 1, 1, 1, NULL)
INSERT [dbo].[Habitos] ([Id], [Nombre], [Frecuencia], [Cumplido], [DiasConsecutivos], [UsuarioId], [CategoriaId]) VALUES (2, N'Meditar 5 minutos', N'Diaria', 0, 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Habitos] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Password], [Biografia], [ImagenPerfil], [Nivel], [Experiencia], [NombreUsuario], [Genero], [Objetivo], [Rol]) VALUES (1, N'Jaider', N'jdyane526@gmail.com', N'jdynape2085', N'The best', N'/imagenesUsuarios/54e861f1-26f7-486b-9991-580aeacc5e37_sopa.png', 1, 0, N'', N'', N'', N'')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Password], [Biografia], [ImagenPerfil], [Nivel], [Experiencia], [NombreUsuario], [Genero], [Objetivo], [Rol]) VALUES (2, N'Valery Miranda', N'valery@habitquest.com', N'123456', N'Amante del progreso y la magia diaria.', N'/default-avatar.png', 1, 0, N'', N'femenino', N'sopa', N'explorador')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [Password], [Biografia], [ImagenPerfil], [Nivel], [Experiencia], [NombreUsuario], [Genero], [Objetivo], [Rol]) VALUES (3, N'David', N'2005jdv04@gmail.com', N'jdvanpe', N'desarrollador', N'/default-avatar.png', 1, 0, N'Dante', N'otro', N'mejorar mi vida', N'guerrero')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_Habitos_CategoriaId]    Script Date: 27/10/2025 6:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Habitos_CategoriaId] ON [dbo].[Habitos]
(
	[CategoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Habitos_UsuarioId]    Script Date: 27/10/2025 6:59:22 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Habitos_UsuarioId] ON [dbo].[Habitos]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Biografia]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [ImagenPerfil]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [NombreUsuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Genero]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Objetivo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'') FOR [Rol]
GO
ALTER TABLE [dbo].[Habitos]  WITH CHECK ADD  CONSTRAINT [FK_Habitos_Categorias_CategoriaId] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Habitos] CHECK CONSTRAINT [FK_Habitos_Categorias_CategoriaId]
GO
ALTER TABLE [dbo].[Habitos]  WITH CHECK ADD  CONSTRAINT [FK_Habitos_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Habitos] CHECK CONSTRAINT [FK_Habitos_Usuarios_UsuarioId]
GO
USE [master]
GO
