.dashboard-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #f5f7fa;
    color: black ;
    position: relative;
    z-index: 1;
  }
  
  .dashboard-content {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
  }